a {
        color: #8a869a;
}	
body {
        color: #2f2930;
}
a:hover, a:focus, a:active, legend {
        color: #2f2930;
}
.badge {
        background-color: #2f2930;
}
.page-header {
        border-bottom: #2f2930;
}
h1,h2,h3,h4,h5,h6,.site-title {
        color: #8a869a;
}
.btn, .btn-default, .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
        background-color: #8a869a;
        border-color: #8a869a;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background-color:  #FFFFFF;
        color: #8a869a;
        border-color: #8a869a;
}
.form-control {
        color: #8a869a;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
       color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #FFFFFF;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            color: #2f2930;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
       color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
        color: #F2F2F2;
}

.dropdown-menu > li > a {
        color: #8a869a;
}
.icon-cog, .caret {
    color: #FFFFFF;
}
.full-top1 {
        background-color: #8a869a;
        color: #FFFFFF;
}
.full-top1 a {
        color: #FFFFFF;
}
.full-top1 h1,.full-top1 h2,.full-top1 h3,.full-top1 h4,.full-top1 h5,.full-top1 h6 {
        color: #FFFFFF;
}
.full-menulogo {
        background-color: #8a869a;
        color: #FFFFFF;
}
.full-menulogo a {
        color: #FFFFFF;
}
.full-menulogo h1,.full-menulogo h2,.full-menulogo h3,.full-menulogo h4,.full-menulogo h5,.full-menulogo h6 {
        color: #8a869a;
}
.full-top2 {
        background-color: #8a869a;
        color: #FFFFFF;
}
.full-top2 a {
        color: #FFFFFF;
}
.full-top2 h1,.full-top2 h2,.full-top2 h3,.full-top2 h4,.full-top2 h5,.full-top2 h6 {
        color: #FFFFFF;
}
.full-top4 {
        background-color: #8a869a;
        color: color: #FFFFFF;
}
.full-top4 a {
        color: color: #FFFFFF;
}
.full-top4 h1,.full-top4 h2,.full-top4 h3,.full-top4 h4,.full-top4 h5,.full-top4 h6 {
        color: color: #FFFFFF;
}
.full-bottom2 {
        background-color: #8a869a;
        color: #FFFFFF;
}
.full-bottom2 a {
        color: #FFFFFF;
}
.full-bottom2 h1,.full-bottom2 h2,.full-bottom2 h3,.full-bottom2 h4,.full-bottom2 h5,.full-bottom2 h6 {
        color: #FFFFFF;
}

.full-bottom4 {
        background-color: ;
        color: #FFFFFF;
}
.full-bottom4 a {
        color: #FFFFFF;
}
.full-bottom4 h1,.full-bottom4 h2,.full-bottom4 h3,.full-bottom4 h4,.full-bottom4 h5,.full-bottom4 h6 {
        color: #FFFFFF;
}

.full-data {
        background-color: #8a869a;
        color: #FFFFFF;
}
.full-data a {
        color: #FFFFFF;
}
.full-data h1,.full-data h2,.full-data h3,.full-data h4,.full-data h5,.full-data h6 {
        color: #FFFFFF;
}
.full-data ul.lined li {
        border-bottom: 1px solid #FFFFFF;
}
ul.lined {
        border-top: 1px solid #FFFFFF;
}
.full-copyright {
        background-color: #8a869a;
        color: #FFFFFF;
}
.full-copyright a {
        color: #FFFFFF;
}
.full-copyright h1,.full-copyright h2,.full-copyright h3,.full-copyright h4,.full-copyright h5,.full-copyright h6 {
        color: #FFFFFF;
}